:root {
  --ff-primary: 'Manrope', system-ui, -apple-system, sans-serif;
  --ff-secondary: system-ui, -apple-system, sans-serif;
  --ff-mono: 'Monaco', 'Cascadia Code', 'Segoe UI Mono', monospace;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3.75rem;
  --fs-1000: 3.75rem;

  @media (min-width: 760px) {
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;
    --fs-1000: 7.5rem;
  }
}
