@mixin button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

@mixin primary-button {
  background-color: var(--color-white);
  color: var(--color-text-inverse);

  &:hover {
    background-color: var(--color-gray-lightest);
    border-color: var(--color-hover-overlay);
    transform: translateY(-1px);
    box-shadow: 0 4px 8px var(--shadow-color-light);
  }

  &:active {
    background-color: var(--color-active-overlay);
    border-color: var(--color-active-overlay);
    transform: translateY(0);
    box-shadow: 0 2px 4px var(--shadow-color-medium);
  }
}

@mixin btn-small {
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  font-size: 0.75rem;
}

@mixin btn-medium {
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  font-size: 1rem;
}

@mixin btn-big {
  padding-block: 0.4rem;
  padding-inline: 10rem;
  font-size: 1.5rem;
}
